<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Reader</title>
    <link href="./src/css/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        #app {
            min-height: 90vh;
            height: auto;
            display: flex;
            flex-direction: column; /* Устанавливаем вертикальное направление для Flexbox */
            overflow: auto; /* Включаем скролл для всего приложения */
            padding: 1rem; /* Добавляем отступы вокруг приложения */
        }
        .table-container {
            flex: 1; /* Позволяем контейнерам таблиц занимать доступное пространство */
            max-height: 50vh; /* Устанавливаем максимальную высоту для контейнера таблицы */
            overflow-y: auto; /* Включаем вертикальный скролл */
            border: 1px solid #d1d5db;
            margin-bottom: 1rem; /* Добавляем отступ снизу для разделения таблиц */
            border-radius: 0.5rem; /* Добавляем скругление углов */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем тень для визуального эффекта */
        }
        .table-header {
            margin-left: 1%;
        }
        table {
            border-spacing: 0;
            width: 100%; /* Убедитесь, что таблицы занимают 100% ширины контейнера */
        }
        .table-auto th, .table-auto td {
            max-width: 200px;
            word-wrap: break-word;
            white-space: normal;
            padding: 0.75rem; /* Добавляем отступы для ячеек таблицы */
        }
    </style>
</head>
<body>
    <div id="app" class="flex flex-col items-center justify-center h-screen p-4" v-cloak>
        <h1 class="text-3xl mb-4">{{ message }}</h1>
        
        <div v-if="users.length > 0" style="text-align: center;">
            <h4 class="text-1xl mb-4">
                <b>Всего пользователей с указанными контактами:</b>
                {{ maxUsersWithContactsCount }}
            </h4>
            <h4 class="text-1xl mb-4">
                <b>Процент пользователей с указанными контактами:</b>
                {{ usersPercentage }}
            </h4>
            <h4 class="text-1xl mb-4"><b>Всего пользователей:</b> {{ maxUsersCount }} </h4>
            <h4 class="text-1xl mb-4"> {{ sortMessage }} </h4>
        </div>
            
        <!-- Сообщение об ошибке -->
        <div v-if="errorMessage" class="text-red-500 mt-2">{{ errorMessage }}</div>

        <!-- Таблица с пользователями -->
        <div v-if="users.length > 0" class="mt-4 w-full table-container" id="tableContainer">
            <h2 class="table-header text-2xl mb-2">Пользователи</h2>
            <div class="overflow-x-auto">
                <table class="table-auto min-w-full border-collapse border border-gray-300">
                    <thead id="tableHeader">
                        <tr>
                            <th class="border p-3 cursor-pointer"
                            @click="sortUsers">Дата добавления</th>
                            <th class="border p-3">ID</th>
                            <th class="border p-3">MAST ID</th>
                            <th class="border p-3">Страница входа</th>
                            <th class="border p-3">Пришёл с сайта</th>
                            <th class="border p-3">Электронная почта</th>
                            <th class="border p-3">Номер телефона</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users" :key="user.index">
                            <!-- <td class="border p-3">{{ user.created_at }}</td> -->
                            <td class="border p-3">{{ user.createdAtDate.toLocaleString() }}</td>
                            <td class="border p-3">{{ user.id }}</td>
                            <td class="border p-3">{{ user.mastId }}</td>
                            <td class="border p-3">
                                <a :href="user.entryPage" target="_blank">{{ user.entryPage }}</a>
                            </td>
                            <td class="border p-3">
                                <a :href="user.sourceDomain" target="_blank">{{ user.sourceDomain }}</a>
                            </td>
                            <td class="border p-3">{{ user.email }}</td>
                            <td class="border p-3">{{ user.phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--  -->

        <!-- Таблица компаний -->
        <!-- <div v-if="companies.length > 0" class="mt-4 w-full table-container"> -->
        <div class="mt-4 w-full table-container">
            <h2 class="table-header text-2xl mb-2">Компании</h2>
            <div class="overflow-x-auto">
                <table class="table-auto min-w-full border-collapse border border-gray-300">
                    <thead>
                        <tr>
                            <th class="border p-3">ID</th>
                            <th class="border p-3">Название компании</th>
                            <th class="border p-3">ID пользователя CMS</th>
                            <th class="border p-3">Отрасль</th>
                            <th class="border p-3">ИНН</th>
                            <th class="border p-3">Электронная почта</th>
                            <th class="border p-3">Телефоны</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="company in companies" :key="company.id">
                            <td class="border p-3">{{ company.id }}</td>
                            <td class="border p-3">{{ company.companyName }}</td>
                            <td class="border p-3">{{ company.cmsUserId }}</td>
                            <td class="border p-3">{{ company.companyIndustry }}</td>
                            <td class="border p-3">{{ company.inn }}</td>
                            <td class="border p-3">{{ JSON.parse(company.email).join(', ') }}</td>
                            <td class="border p-3">{{ JSON.parse(company.phones).join(', ') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--  -->

        <!-- Таблица контактов -->
        <!-- <div v-if="contacts.length > 0" class="mt-4 w-full table-container"> -->
        <div class="mt-4 w-full table-container">
            <h2 class="table-header text-2xl mb-2">Контакты</h2>
            <div class="overflow-x-auto">
                <table class="table-auto min-w-full border-collapse border border-gray-300">
                    <thead>
                        <tr>
                            <th class="border p-3">ID</th>
                            <th class="border p-3">Имя</th>
                            <th class="border p-3">Фамилия</th>
                            <th class="border p-3">Отчество</th>
                            <th class="border p-3">Электронная почта</th>
                            <th class="border p-3">Телефоны</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="contact in contacts" :key="contact.id">
                            <td class="border p-3">{{ contact.id }}</td>
                            <td class="border p-3">{{ contact.name }}</td>
                            <td class="border p-3">{{ contact.secondName }}</td>
                            <td class="border p-3">{{ contact.lastName }}</td>
                            <td class="border p-3">{{ JSON.parse(contact.email).join(', ') }}</td>
                            <td class="border p-3">{{ JSON.parse(contact.phones).join(', ') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--  -->

        <!-- Таблица лидов -->
        <!-- <div v-if="leads.length > 0" class="mt-4 w-full table-container"> -->
        <div class="mt-4 w-full table-container">
            <h2 class="table-header text-2xl mb-2">Лиды</h2>
            <div class="overflow-x-auto">
                <table class="table-auto min-w-full border-collapse border border-gray-300">
                    <thead>
                        <tr>
                            <th class="border p-3">ID</th>
                            <th class="border p-3">Название</th>
                            <th class="border p-3">ID контакта</th>
                            <th class="border p-3">Статус</th>
                            <th class="border p-3">Описание</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="lead in leads" :key="lead.id">
                            <td class="border p-3">{{ lead.id }}</td>
                            <td class="border p-3">{{ lead.title }}</td>
                            <td class="border p-3">{{ lead.contactId }}</td>
                            <td class="border p-3">{{ lead.status }}</td>
                            <td class="border p-3">{{ lead.desc }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--  -->

        <!-- Таблица сделок -->
        <!-- <div v-if="deals.length > 0" class="mt-4 w-full table-container"> -->
        <div class="mt-4 w-full table-container">
            <h2 class="table-header text-2xl mb-2">Сделки</h2>
            <div class="overflow-x-auto">
                <table class="table-auto min-w-full border-collapse border border-gray-300">
                    <thead>
                        <tr>
                            <th class="border p-3">ID</th>
                            <th class="border p-3">Название</th>
                            <th class="border p-3">ID контакта</th>
                            <th class="border p-3">Этап</th>
                            <th class="border p-3">Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="deal in deals" :key="deal.id">
                            <td class="border p-3">{{ deal.id }}</td>
                            <td class="border p-3">{{ deal.title }}</td>
                            <td class="border p-3">{{ deal.contactId }}</td>
                            <td class="border p-3">{{ deal.stage }}</td>
                            <td class="border p-3">{{ deal.amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--  -->
        
    </div>

    <script src="./index.js" type="module"></script>
</body>
</html>